In [ ]:
#Bring in datasets

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import os
import csv

In [7]:
# Create happiness dataframe
happiness_df = pd.read_csv('2017_happiness_index.csv')
happiness_df.drop_duplicates()
happiness_df

,country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [3]:
# Create water dataframe
water_df = pd.read_csv('water.csv')
water_df.drop_duplicates()
water_df

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,0.278,0.278,0.299,0.320,0.341,0.363,0.384,0.408,0.433,0.458,0.484,0.509,0.535,0.562,0.588,0.615,0.643,0.671
1,Albania,0.879,0.879,0.879,0.879,0.879,0.879,0.879,0.879,0.879,0.879,0.878,0.878,0.879,0.895,0.910,0.910,0.910,0.910
2,Algeria,0.898,0.901,0.904,0.907,0.909,0.912,0.914,0.917,0.919,0.922,0.924,0.926,0.928,0.931,0.933,0.935,0.935,0.936
3,Andorra,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
4,Angola,0.411,0.423,0.434,0.444,0.454,0.463,0.472,0.480,0.488,0.496,0.504,0.512,0.520,0.528,0.535,0.543,0.551,0.558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela,0.967,0.966,0.965,0.965,0.964,0.964,0.963,0.963,0.962,0.962,0.961,0.961,0.960,0.959,0.959,0.958,0.958,0.957
190,Vietnam,0.801,0.810,0.819,0.828,0.836,0.845,0.853,0.862,0.870,0.878,0.887,0.895,0.903,0.910,0.923,0.932,0.940,0.947
191,Yemen,0.378,0.381,0.383,0.403,0.423,0.443,0.463,0.482,0.502,0.521,0.540,0.559,0.577,0.596,0.614,0.632,0.633,0.635
192,Zambia,0.495,0.500,0.507,0.514,0.521,0.527,0.533,0.540,0.546,0.552,0.558,0.564,0.570,0.576,0.581,0.587,0.592,0.600
193,Zimbabwe,0.717,0.719,0.716,0.711,0.706,0.701,0.696,0.690,0.685,0.680,0.675,0.670,0.665,0.660,0.655,0.650,0.645,0.641

In [8]:
#Clean water data to years 2015, 2016, 2017
clean_water_df=water_df.drop(columns=["2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2008", "2009", "2010", "2011", "2012", "2013", "2014"])
clean_water_df

         country   2015   2016   2017
0    Afghanistan  0.615  0.643  0.671
1        Albania  0.910  0.910  0.910
2        Algeria  0.935  0.935  0.936
3        Andorra  1.000  1.000  1.000
4         Angola  0.543  0.551  0.558
..           ...    ...    ...    ...
189    Venezuela  0.958  0.958  0.957
190      Vietnam  0.932  0.940  0.947
191        Yemen  0.632  0.633  0.635
192       Zambia  0.587  0.592  0.600
193     Zimbabwe  0.650  0.645  0.641

[194 rows x 4 columns]

In [101]:
#Create 1 clean data set

In [10]:
merge1_df = pd.merge(happiness_df, clean_water_df, on="country", how="left")
merge1_df.dropna()
merge1_df.drop_duplicates()
merge1_df

,country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,2015,2016,2017
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,1.000,1.000,1.000
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,1.000,1.000,1.000
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,1.000,1.000,1.000
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,1.000,1.000,1.000
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,1.000,1.000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061,0.563,0.570,0.577
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574,0.969,0.971,0.972
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130,0.530,0.548,0.567
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,0.596,0.602,0.608
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005,0.462,0.463,NaN

In [11]:
is_NaN = merge1_df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = merge1_df[row_has_NaN]
print(rows_with_NaN)

                      country  Happiness.Rank  Happiness.Score  Whisker.high  \
23                  Argentina              24            6.599      6.690085
32   Taiwan Province of China              33            6.422      6.494596
39                   Slovakia              40            6.098      6.177348
60               North Cyprus              61            5.810      5.897366
70    Hong Kong S.A.R., China              71            5.472      5.549594
77                     Kosovo              78            5.279      5.364848
91                  Macedonia              92            5.175      5.272173
97                 Kyrgyzstan              98            5.004      5.089920
102   Palestinian Territories             103            4.775      4.881848
123       Congo (Brazzaville)             124            4.291      4.410054
125          Congo (Kinshasa)             126            4.280      4.357811
127               Ivory Coast             128            4.180      4.275183
154  Central African Republic             155            2.693      2.864884

     Whisker.low  Economy..GDP.per.Capita.    Family  \
23      6.507915                  1.185295  1.440451
32      6.349404                  1.433627  1.384565
39      6.018652                  1.325394  1.505059
60      5.722633                  1.346911  1.186303
70      5.394406                  1.551675  1.262791
77      5.193152                  0.951484  1.137854
91      5.077828                  1.064578  1.207893
97      4.918080                  0.596220  1.394239
102     4.668152                  0.716249  1.155647
123     4.171946                  0.808964  0.832044
125     4.202190                  0.092102  1.229023
127     4.084817                  0.603049  0.904780
154     2.521116                  0.000000  0.000000

     Health..Life.Expectancy.   Freedom  Generosity  \
23                   0.695137  0.494519    0.109457
32                   0.793984  0.361467    0.258360
39                   0.712733  0.295817    0.136544
60                   0.834647  0.471204    0.266846
70                   0.943062  0.490969    0.374466
77                   0.541452  0.260288    0.319931
91                   0.644948  0.325906    0.253761
97                   0.553458  0.454943    0.428580
102                  0.565667  0.254711    0.114173
123                  0.289957  0.435026    0.120852
125                  0.191407  0.235961    0.246456
127                  0.048642  0.447706    0.201237
154                  0.018773  0.270842    0.280876

     Trust..Government.Corruption.  Dystopia.Residual   2015   2016  2017
23                        0.059740           2.614005  0.991  0.991   NaN
32                        0.063829           2.126607    NaN    NaN   NaN
39                        0.024211           2.097777    NaN    NaN   NaN
60                        0.155353           1.549158    NaN    NaN   NaN
70                        0.293934           0.554633    NaN    NaN   NaN
77                        0.057472           2.010541    NaN    NaN   NaN
91                        0.060278           1.617469    NaN    NaN   NaN
97                        0.039439           1.536723    NaN    NaN   NaN
102                       0.089283           1.878890    NaN    NaN   NaN
123                       0.079618           1.724136    NaN    NaN   NaN
125                       0.060241           2.224959    NaN    NaN   NaN
127                       0.130062           1.844964    NaN    NaN   NaN
154                       0.056565           2.066005  0.462  0.463   NaN